@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jura&display=swap');

//fonts 

$font-family-inter: 'Inter', sans-serif;
$font-family-jura: 'Jura', sans-serif;
$font-xs: 12px;
$font-sm: 16px;
$font-md: 20px;
$font-lg: 32px;
$font-xl: 64px;
$font-header: 128px;

//Palette

$white: #ffffff;
$black: #000000;
$blue: #002BC2;
$blue-dark: #2c3b6f;